img{
	max-width: 100%;
}
.movie--top{
	background: #333;
	color: #fff;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
}
.movie--info{
	display: flex;
}
.movie--img{
	flex-basis:20%;
}
.movie--text{
	flex-grow: 1;
	flex-basis: 80%;
}
.movie--property{
	padding: 10px 10px 20px 10px;
}
